body {
  font-family: monospace;
  font-size: 13px;
  line-height: 1.5;
  background-color: #666;
}
#body {
  margin: 0 auto;
  max-width: 57em;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
@media (max-width: 600px) {
  #body {
    font-size: 0.9em;
    padding: 12px;
  }
  h1 {
    font-size: 1.8em;
  }
}
@media print {
  #body {
    font-size: 12pt;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }
}
#title-block-header {
  margin: 0 auto;
  max-width: 57em;
  padding-left: 50px;
  padding-right: 50px;
}
p {
  margin: 1em 0;
}
a,
a:visited {
  color: #0099ff;
  text-decoration: none;
}
img {
  max-width: 100%;
}
svg {
  height: auto;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.4em;
}
h5,
h6 {
  font-size: 1em;
  font-style: italic;
}
h6 {
  font-weight: normal;
}
ol,
ul {
  padding-left: 1.7em;
  margin-top: 1em;
}
li > ol,
li > ul {
  margin-top: 0;
}
blockquote {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;
  color: #606060;
}
code {
  font-family: monospace;
  font-size: 85%;
  margin: 0;
  hyphens: manual;
  color: #ff5555;
  white-space: pre-wrap;
}
pre {
  margin: 1em 0;
  overflow: auto;
}
pre code {
  color: inherit;
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}
.sourceCode {
  background-color: transparent;
  overflow: visible;
}
hr {
  background-color: #1a1a1a;
  border: none;
  height: 1px;
  margin: 1em 0;
}
table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}
table caption {
  margin-bottom: 0.75em;
}
tbody {
  margin-top: 0.5em;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
th {
  border-top: 1px solid #cccccc;
  padding: 0.25em 0.5em 0.25em 0.5em;
}
td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}
#TOC li {
  list-style: none;
}
#TOC ul {
  padding-left: 1.3em;
}
#TOC > ul {
  padding-left: 0;
}
#TOC a:not(:hover) {
  text-decoration: none;
}
span.smallcaps {
  font-variant: small-caps;
}
div.columns {
  display: flex;
  gap: min(4vw, 1.5em);
}
div.column {
  flex: auto;
  overflow-x: auto;
}
div.hanging-indent {
  margin-left: 1.5em;
  text-indent: -1.5em;
}
ul.task-list[class] {
  list-style: none;
}
ul.task-list li input[type="checkbox"] {
  font-size: inherit;
  width: 0.8em;
  margin: 0 0.8em 0.2em -1.6em;
  vertical-align: middle;
}
.display.math {
  display: block;
  text-align: center;
  margin: 0.5rem auto;
}
* {
  margin: 0;
  box-sizing: border-box;
}
.layout {
  color: #ccc;
  background-color: #000;
  margin: 0 auto;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}
.layout.smaller {
  margin: auto;
  height: calc(100dvh - 2em);
}
.layout.narrower {
  margin: auto;
  width: calc(100dvw - 2em);
}
.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0 10px;
}
.middle {
  display: flex;
  flex: 1;
  height: 60%;
  border-inline: 1px solid #ccc;
}
.content {
  flex: 1;
  overflow-y: auto;
}
.menu {
  /*flex: 0 0 24em;*/
  max-width: 20%;
  order: -1;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}
.menu ul {
  list-style-type: none;
  padding: 0 1em;
}
.menu ul li.item:before {
  content: "├─ ";
}
.menu ul li.last:before {
  content: "└─ ";
}
.icon {
  filter: invert(1);
  height: 1em;
  vertical-align: middle;
  cursor: pointer;
}
body.invert {
  filter: invert(1);
  background-color: #fff;
}
.hide-menu {
  display: none;
}
.draft {
  display: inline-block;
  vertical-align: middle;
  height: calc(100% - 2px);
  background-color: #f00;
}
/* Markdown notes */
.note {
  --color: #0099ff;
  --icon: url("../_icons/circle-exclamation.svg");
}
.important {
  --color: #bb99ff;
  --icon: url("../_icons/square-exclamation.svg");
}
.warning {
  --color: #ffbb00;
  --icon: url("../_icons/triangle-exclamation.svg");
}
.note,
.important,
.warning {
  border-left: 0.25em solid var(--color);
  padding-left: 0.75em;
  margin-top: 2em;
  margin-bottom: 2em;
  color: #888;
}
.title {
  color: var(--color);
}
.title::before {
  display: inline-block;
  content: var(--icon);
  filter: invert(1);
  width: 1em;
  height: 16px;
  vertical-align: middle;
  float: left;
  margin-right: 1em;
}
input[type="checkbox"] {
  pointer-events: none;
  /*opacity: 0.5;*/
}
